:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --divider-color: #eee;
  --break-xsmall: 600px;
  --break-small: 1024px;
  --break-medium: 1200px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #000000;
  overflow: hidden;
}

header,
section,
footer {
  position: relative;
  display: block;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  background-color: #333;
}

#app {
  margin: 0 auto;
  width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
